.profile-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.user-details {
    background: #f7f7f7;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.user-flats-section, .favorites-section {
    background: #fff;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.flats-list, .favorites-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.flat-card, .favorite-card {
    background: #ffe599;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    flex: 1 1 calc(33.333% - 1.5rem);
    text-align: center;
}
.user-details label {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.user-details input {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

.user-details span {
    font-size: 1rem;
    margin-top: 0.5rem;
}

button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    color: #fff;
    background-color: #06d6a0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #04b383;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}